* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
}

/*cabeçalho*/
header {
  background-color: #ffffff;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 60px;
  height: 150px;
}

/*LOGO*/
.logo img {
  width: 25%;
  margin: 0;
}

.abas {
  font-size: 28px;
  color: #ffffff;
  position: absolute;
  right: 5%;
  background-color: #002d3d;
  padding: 14px 50px;
  border-radius: 20px;
}

.abas span {
  color: #00b3ff;
}

/*TÓPICOS DO CABEÇALHO*/
nav a {
  color: rgb(254, 254, 254);
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
}

.telabaixeoapp {
  position: relative;
  margin-bottom: 30px;
}

.telabaixeoapp img {
  width: 100%;
  height: 650px;
  filter: brightness(50%);
}

.tela-text {
  position: absolute;
  top: 17%;
  left: 8%;
  color: white;
  max-width: 550px;
}

.tela-text h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.tela-text p {
  font-size: 25px;
  margin-bottom: 120px;
}

.tela-text button {
  background-color: #002d3d;
  border: none;
  color: white;
  padding: 25px 40px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 40px;
  font-size: 25px;
  position: absolute;
  left: 20%;
}
.tela-text button:hover {
  transform: translateY(-10px);
}


/*SOBRE O PRODUTO*/
.sobre {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/*frase*/
.h2sobre {
  font-size: 32px;
  background-color: #002d3d;
  color: white;
  padding: 14px 25px;
  border-radius: 20px;
  width: fit-content;
  margin: 0 auto 40px auto;
}

.partes {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 40px;
}

.parte {
  background-color: #002d3d;
  color: white;
  border-radius: 27px;
  width: 300px;
  padding: 24px;
  text-align: center;
  transition: 0.3s;
}

.parte:hover {
  transform: translateY(-15px);
}

.parte img {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 20px;
}

.parte h3 {
  font-size: 18px;
  margin-bottom: 50px;
}

.parte button {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  border: none;
  padding: 12px 24px;
  font-weight: bold;
  border-radius: 19px;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 30px;
  transition: 0.3s;
}

/*FOOTER*/
footer {
  text-align: center;
  background-color: #002d3d;
  color: white;
  padding: 40px 20px;
}

.h2contato {
  font-size: 40px;
  margin-bottom: 40px;

}

.contato {
  display: flex;
  justify-content: center;
  gap: 70px;
  flex-wrap: wrap;
}

.item {
  background-color: rgba(255, 255, 255, 0.05);
  width: 300px;
  margin-top: 10px;
  transition: 0.3s;
  border-radius: 10px;
}

.item:hover {
  transform: translateY(-15px);
  border: solid 1px aqua;
}

.item p {
  margin: 30px 0;
  font-size: 20px;
}

.item .info {
  margin-top: 10px;
  font-weight: bold;
}

/* CONTATO */
/* .contato-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.contato-icons a {
  font-size: 24px;
  color: white;
  transition: 0.3s;
}

.contato-icons a:hover {
  color: #145681;
} */

/* RESPONSIVIDADE */
@media (max-width: 500px) {
  .container {
    width: 90%;
  }
}